/* Default color scheme */
@define-color fg_color #000;
@define-color bg_color #C5B2A8;
@define-color base_color #A8978F;
@define-color text_color #000;
@define-color selected_bg_color #ECA770;
@define-color selected_fg_color #000;
@define-color tooltip_bg_color #ffffe1;
@define-color tooltip_fg_color #000;
@define-color c1 #d00;
@define-color c2 #822;

/* Custom colors */
@define-color menubar_color #4991A6;

/* For all widgets */
* { 
    border-style: outset;
    border-width: 1px;
}

@define-color entry-color shade (@bg_color, 0.7);

GtkEntry {
    background-color: @entry-color;
}
GtkPanel {
    background: -gtk-gradient (linear,
                left top, right bottom,
                from(#d44), to(#0d4));
}

GtkEntry:focused {
    background-color: mix (@entry-color,
                           shade (#fff, 0.5),
                           0.8);
}
GtkButton {
}
GtkButton:prelight {
    border-style: dotted;
}

GtkButton:active {
    border-style: inset;
}
